# Primeiros passos

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_style("whitegrid")
plt.style.use("fivethirtyeight")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# Exemplo de texto para treinar o modelo dos garotos
n = ['te ligo mais tarde',
     'me liga depois',
     'estou a caminho',
     'me avisa hoje',
     'que horas a call']

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

In [0]:
# Transformar testo para matrizes
vect = CountVectorizer()

In [0]:
# Aprendendo o vocabulario dos garotos
vect.fit(n)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [0]:
# Examinar o vocabul√°rio treinado
vect.get_feature_names()

['avisa',
 'call',
 'caminho',
 'depois',
 'estou',
 'hoje',
 'horas',
 'liga',
 'ligo',
 'mais',
 'me',
 'que',
 'tarde',
 'te']

In [0]:
# Tranformar em uma matriz de termo 
ndtm = vect.transform(n)

In [0]:
ndtm

<5x14 sparse matrix of type '<class 'numpy.int64'>'
	with 15 stored elements in Compressed Sparse Row format>

In [0]:
# Transformar a matriz esparsa em densa
ndtm.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1],
       [0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]])

In [0]:
# Observe o vocabulario e os termos da matriz juntos
pd.DataFrame(ndtm.toarray(), columns=vect.get_feature_names())

   avisa  call  caminho  depois  estou  hoje  ...  ligo  mais  me  que  tarde  te
0      0     0        0       0      0     0  ...     1     1   0    0      1   1
1      0     0        0       1      0     0  ...     0     0   1    0      0   0
2      0     0        1       0      1     0  ...     0     0   0    0      0   0
3      1     0        0       0      0     1  ...     0     0   1    0      0   0
4      0     1        0       0      0     0  ...     0     0   0    1      0   0

[5 rows x 14 columns]

In [0]:
# Veja o tipo da matriz dos termos
type(ndtm)

scipy.sparse.csr.csr_matrix

In [0]:
# Olhar o conteudo da matriz sparsa
print(ndtm)

  (0, 8)	1
  (0, 9)	1
  (0, 12)	1
  (0, 13)	1
  (1, 3)	1
  (1, 7)	1
  (1, 10)	1
  (2, 2)	1
  (2, 4)	1
  (3, 0)	1
  (3, 5)	1
  (3, 10)	1
  (4, 1)	1
  (4, 6)	1
  (4, 11)	1

In [0]:
# Frase teste
m = ['que horas me liga hoje']

In [0]:
# Fazer a predi√ß√£o
mdtm = vect.transform(m)

In [0]:
mdtm.toarray()

array([[0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0]])

In [0]:
pd.DataFrame(mdtm.toarray(), columns=vect.get_feature_names())

   avisa  call  caminho  depois  estou  hoje  ...  ligo  mais  me  que  tarde  te
0      0     0        0       0      0     1  ...     0     0   1    1      0   0

[1 rows x 14 columns]